.summary > li:first-child {
	background: url('logo.png') no-repeat 16px 0;
	height: 80px;
	padding-top: 80px;
	margin-bottom: 34px;
}
.summary > li:last-child a {
	color: #666 !important;
	font-style: italic;
}
.fa-twitter, .fa-facebook, .fa-share-alt {
	display: none;
}
li.active > a, .markdown-section a {
	color: #0482b2 !important;
	font-weight: bold;
}
